################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/SerwisRowerowy/FileContentIndex/5a957f7d-24a0-4042-a68f-3a669dfce07c.vsidx
